<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<h1>책 목록보기</h1>
<table class="books-table"> <!--table에는 class 같은거 작동이 안됨 -->
    <thead>
    <tr> <!-- id값을 tr위 설정 append --->
        <th>ID</th>
        <th>제목</th>
        <th>저자</th>
        <th>장르</th>
        <th>이동하기</th>
    </tr>
    </thead>
    <tbody id="bookContainer">
    <!-- 책 목록 작성 예정-->
    </tbody>
</table>

<script>
    $.ajax({
        url: "/api/books",
        method: "GET",      //type(old version) method(new version)
        success:
            function (data) {
                $.each(data, function (index, value) {
                    $("#bookContainer").append(`
                            <tr>
                                <td>${value.id}</td>
                                <td>${value.title}</td>
                                <td>${value.author}</td>
                                <td>${value.genre}</td>
                                <td><a href="/book/?id=${value.id}">이동</a></td>
                            </tr>
                    `);
                })
            },
        error:
            function () {
                $("#bookContainer").html("<p>벡엔드에서 데이터를 불러오기 실패했습니다.</p>");
            }
    })
</script>
</body>
</html>