<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 추가</title>
    <link rel="icon" href="/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<!-- 저장 방식
1. form 태그를 이용해서 form 태그 내에 작성한 id 값으로
    submit 해서 데이터 저장

2. form 태그 내 button type 을 button 형식으로 변경하고 click 해서 데이터 저장

3. div 태그 내 button type 을 button 형식으로 변경하고 click 해서 데이터 저장

-->
<!-- 내가 한 것
<h1>추가할 책 정보 입력</h1>

<label for="bookTitle">제목: </label>
<input type="text" id="bookTitle" name="bookTitle">

<label for="bookAuthor">저자: </label>
<input type="text" id="bookAuthor" name="bookAuthor">

<label for="bookGenre">장르: </label>
<input type="text" id="bookGenre" name="bookGenre"><br>
<button type="button" id="saveBookButton">책 등록하기</button>
-->
<h1>책 등록하기</h1>

<div id="book">
    <label for="title">책 제목: </label>
    <input type="text" id="title" placeholder="책 제목 입력" required>

    <label for="author">저자: </label>
    <input type="text" id="author" placeholder="책 저자 입력" required>

    <label for="genre">장르: </label>
    <input type="text" id="genre" placeholder="책 장르 입력" required>
    <button type="button" id="saveBook">저장하기</button>
</div>
<script>
    $("#saveBook").click(function () {
        let bookTitle = $("#title").val();
        let bookAuthor = $("#author").val();
        let bookGenre = $("#genre").val();
        $.ajax({
            url: "/api/bookSave",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify({
                title: bookTitle,
                author: bookAuthor,
                genre: bookGenre
            }),
            success:
                function () {
                    alert("제품이 성공적으로 등록되었습니다.");
                    //window = 화면 창  location = 지역  href = 주소
                    //해당하는 지역으로 창을 이동한다.
                    window.location.href="/books"; //viewController 에서 책 목록 확인하는 api = url 주소
                    /*
                    만약에 창 이동을 하지 않을 경우 기존에 작성한
                    title, author, genre 에 .val(``)을 넣어 값 비우기 설정

                    $("#title").val(``);
                    $("#author").val(``);
                    $("#genre").val(``);
                     */
                },
            error:
                function () {
                    alert("등록에 실패했습니다.");
                }
        })
    })
</script>
</body>
</html>